@model IEnumerable<ConstructoraUH.Models.Empleado>

@{
    ViewBag.Title = "Lista de Empleados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mb-4">Lista de Empleados</h2>

<p>
    @Html.ActionLink("Crear Nuevo Empleado", "Create", null, new { @class = "btn btn-primary mb-3" })
</p>

<div class="table-responsive">
    <table class="table table-striped table-bordered text-center">
        <thead class="table-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.NombreCompleto)</th>
                <th>@Html.DisplayNameFor(model => model.FechaNacimiento)</th>
                <th>@Html.DisplayNameFor(model => model.Direccion)</th>
                <th>@Html.DisplayNameFor(model => model.Telefono)</th>
                <th>@Html.DisplayNameFor(model => model.CorreoElectronico)</th>
                <th>@Html.DisplayNameFor(model => model.Salario)</th>
                <th>@Html.DisplayNameFor(model => model.CategoriaLaboral)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.NombreCompleto)</td>
                    <td>@item.FechaNacimiento.ToString("dd/MM/yyyy")</td>
                    <td>@Html.DisplayFor(modelItem => item.Direccion)</td>
                    <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
                    <td>@Html.DisplayFor(modelItem => item.CorreoElectronico)</td>
                    <td>@item.Salario.ToString("C")</td>
                    <td>@Html.DisplayFor(modelItem => item.CategoriaLaboral)</td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.CarnetUnico }, new { @class = "btn btn-warning btn-sm" })
                        @Html.ActionLink("Detalles", "Details", new { id = item.CarnetUnico }, new { @class = "btn btn-info btn-sm" })
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.CarnetUnico }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
